#breed{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    .table{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        padding: 10px 50px 50px 50px;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: bottom;
        max-width: 770px;
        min-height: 330px;
        max-height: 35vh;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
        }
        @media (max-width : 768px) {
            background-size: cover;
            min-height: 0px;

        }
    }

    .row{
        display: flex;
        height: 80px;
        align-items: center;
        justify-content: flex-end;
        width: 50%;
        p{
            font-size: 1.1em;
            margin: 10px;
            display: inline-block;
            text-align: right;
            color: #2d3d8d;
            text-transform: uppercase;
            @media (max-width : 768px) {
                font-size: .9em;
            }
        }
        span{
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            padding: 40px; 
        }
    }

    .title-breed{
        max-width: 450px;
        margin: 0 auto;
        font-size: 3em;
        @media (max-width : 768px) {
            font-size: 2em;
        }
    }

    .subtitle-breed{
        font-size: 1em;
    }

    .breed-img{
        margin: 0 auto;
        max-width: 400px;
        max-height: 200px;
        min-height: 200px;
        @media (max-width : 768px) {
            min-height: 0px; 
            max-height: 123px;   
        }
    }
    .list-container{
        overflow: hidden;
        margin-top: -20px;
        z-index: 2;
        position: absolute;
        text-align: center!important;
        font-weight: 700;
        color: #0071bc;
        left: 70px;
        width: 100%;
        max-width: 420px;
        -webkit-tap-highlight-color: transparent;
        background-color: #fff;
        border-radius: 4px;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        color: #fff;
        min-height: 100vh;
        width: 100%;
        max-width: 1024px; 
    }
   
    .dropdown-baloon-container{
        width: 100%;
        max-width: 550px;
        position: relative;
    }

    .dropdown-baloon{
        width: 100%;
        cursor: pointer;
    }

    .back-btn{
        position: absolute;
        right: 10px;
        top: 10px;
        width: 220px;
        @media (max-width : 768px) {
            width: 140px;
        }
    }
    
    .disclaimer{
        position: absolute;
        width: 50%;
        max-width: 250px;
        left: 20px;
        top: 100px;
        @media (max-width : 768px) {
            max-width: 150px;
            top: 10px;
        }
    }
}