#footer{
    position: absolute;
    width: 100%;
    background: #000;
    left: 0;
    bottom: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 20%;
        min-width: 110px;
    }
}